.App {
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto 0;
}
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.toolSectionContent {
  position: fixed;
  background: rgb(255 255 255 / 6%);
  backdrop-filter: blur(10px);
  width: 70%;
  height: 80%;
  /* border-radius: 15px; */
}
.toolMainSection {
  height: 90%;
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.editingToolsList ul {
  border-top: 1px #ffffff17 solid;
  display: flex;
  justify-content: space-around;
  margin: 0;
  height: 5vh;
  padding: 0;
}
.editingToolsList li {
  list-style: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.editingToolsList svg {
  font-size: 1.5rem;
}
.editingToolsList li:hover svg {
  font-size: 1.6rem;
}
.editingToolsList li:hover {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.144); 
  cursor: pointer;
}
.activeFilterLi{
background-color: rgba(255, 255, 255, 0.144); 
}
.editingToolsSection {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.ImageContainerSection {
  width: 100%;
  display: flex;
  height: 83%;
  align-items: center;
  justify-content: center;
}

.ImageContainerSection p {
  font-size: 1rem;
}
.ImageContainerSection img {
  height: 51vh;
  width: auto;
}
.AddImageSectionMain {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px white dashed;
  cursor: pointer;
}

.SliderSection {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.SliderSection span {
  padding-left: 2 0px;
}

.FilterSliderMain {
  width: 90%;
}
.ResetImageMain svg {
  color: white;
}
.ResetImageMain {
  width: 10%;
  cursor: pointer;
}
.FilterNameLabelMain{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.FilterNameLabelMain p{
  padding:0;
  margin: 5px 0;
}


.creatorSectionMain {
  color: white;
  font-size: 1rem;
  position: fixed;
  text-align: right;
  display: flex;
  width: 8%;
  align-items: center;
  justify-content: space-evenly;
  right: 10px;
}
.creatorSectionMain img {
  height: 20px;
  border-radius: 10px;
}
